/* line 4, ../scss/timeline.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/timeline.scss */
.timeline {
  margin: 0px auto;
  max-width: 700px;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0px;
  list-style-type: none;
  /*thanks to
     https://twitter.com/JacoKoster
  */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 50% 0;
  /* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
}
/* line 24, ../scss/timeline.scss */
.timeline .year {
  background: #505050;
  font-size: 3em;
  max-width: 4em;
  clear: both;
  margin: 1em auto;
  color: white;
  border-radius: 30% / 100%;
  text-align: center;
  margin-top: 50px;
}
/* line 35, ../scss/timeline.scss */
.timeline .year:first-of-type {
  margin-top: 0 !important;
}
/* line 45, ../scss/timeline.scss */
.timeline .event {
  position: relative;
  text-align: center;
  float: right;
  clear: right;
  width: 45%;
  margin: 10px 2.5%;
  border-radius: 5px;
  list-style-type: none;
  display: block;
  padding: .4em;
  background: white;
  z-index: 15;
  color: #4d4d4d;
  border: 1px solid #d0d0d0;
  text-decoration: none;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
/* line 71, ../scss/timeline.scss */
.timeline .event.featured {
  width: 95% !important;
}
/* line 73, ../scss/timeline.scss */
.timeline .event.featured:after, .timeline .event.featured:before {
  display: none;
}
@media all and (max-width: 600px) {
  /* line 45, ../scss/timeline.scss */
  .timeline .event {
    width: 85%;
  }
}
/* line 82, ../scss/timeline.scss */
.timeline .event.offset-first {
  margin-top: -1.5em;
}
/* line 86, ../scss/timeline.scss */
.timeline .event img {
  margin-top: 10px;
  max-width: 100%;
}
/* line 91, ../scss/timeline.scss */
.timeline .event:hover {
  background: #f6f6f6;
}
/* line 94, ../scss/timeline.scss */
.timeline .event:hover:after {
  background: #505050;
}
/* line 99, ../scss/timeline.scss */
.timeline .event:nth-of-type(2n) {
  float: left;
  clear: left;
}
/* line 102, ../scss/timeline.scss */
.timeline .event:nth-of-type(2n):after {
  right: -5%;
  /* reset the standard declaration I defined before*/
  left: auto;
}
@media all and (min-width: 650px) {
  /* line 109, ../scss/timeline.scss */
  .timeline .event:after {
    display: block;
    content: ' ';
    height: 9px;
    width: 9px;
    background: #9d9d9d;
    border-radius: 50%;
    position: absolute;
    left: -5%;
    top: 1.5em;
    border: 2px solid white;
  }
}

/* line 128, ../scss/timeline.scss */
time {
  display: block;
  font-weight: bold;
}
