$text-color: rgb(77, 77, 77);
$bg-entry: rgb(80,80,80);

*,*:after,*:before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


.timeline {
  margin: 0px auto;
  max-width: 700px;
  overflow:hidden;
  height: auto;
  position: relative;
  padding:0px;
  list-style-type:none;
  

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat:repeat-y;
  background-position:50% 0;
  
  

    .year {
    background: $bg-entry;
    font-size: 3em;
    max-width: 4em; 
    clear: both; 
    margin: 1em auto;
    color: white;
    border-radius: 30% / 100%;
    text-align: center;
    margin-top: 50px;
    
    &:first-of-type {
      margin-top: 0 !important;
    }
  }
  

  .event {
    position:relative;
    text-align:center;
    float: right;
    clear: right; 
    width: 45%;
    margin: 10px 2.5%;
    
    
    border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: .4em;
    background: white;
    z-index: 15;
    
    color: $text-color;
    border: 1px solid lighten($bg-entry,30%);
    text-decoration: none;

    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    
    &.featured {
      width: 95% !important;
      background: lighten(#ccc,11%);
      
      &:after, &:before {
        display: none;
      }
    }
    
    @media all and (max-width: 600px) {
      width: 85%;
    }    
    
    &.offset-first {
       margin-top: -1.5em;
    }
    
    img {
      margin-top: 10px;
      max-width: 100%;
    }

    &:hover {
      background: lighten($bg-entry,60%);

      &:after {
        background: $bg-entry;
      }
    }
    
    &:nth-child(2n) {
      float: left;
      clear: left;
        @media all and(min-width:600px){
          margin-top:20px;
        }
    }
      
    &:after {      
      @media all and (min-width: 650px) {
        display: block;
        content: ' ';
        height: 9px; width: 9px;
        background: lighten($bg-entry,30%);
        border-radius: 50%;
        position:absolute;
        left: -5%;
        top: 1.5em;
        border: 2px solid white;
      }
    }
      
    &:nth-child(2n):after {
      right: -5%;
      left: auto;
    }
  }
}
